Herramienta/xml-resources/web-service-references/A2_FDiscretas/wsdl/192.168.0.107_8080/Servicios_Web/A2_FDiscretas.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Discretas_FA2/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Discretas_FA2/">

<xs:element name="peticionDiscretasFA2" type="tns:peticionDiscretasFA2" />

<xs:element name="peticionDiscretasFA2Response" type="tns:peticionDiscretasFA2Response" />

<xs:complexType name="peticionDiscretasFA2">
<xs:sequence>
<xs:element name="totalDiscretas" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="peticionDiscretasFA2Response">
<xs:sequence>
<xs:element name="return" type="xs:double" />
</xs:sequence>
</xs:complexType>
</xs:schema>