Herramienta/xml-resources/web-service-references/A2_DContinuas/wsdl/192.168.0.107_8080/Servicios_Web/A2_DContinuas.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Continuas_DA2/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Continuas_DA2/">

<xs:element name="peticionContinuasDA2" type="tns:peticionContinuasDA2" />

<xs:element name="peticionContinuasDA2Response" type="tns:peticionContinuasDA2Response" />

<xs:complexType name="peticionContinuasDA2">
<xs:sequence>
<xs:element name="totalContinuas" type="xs:int" />
<xs:element name="metodos" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="peticionContinuasDA2Response">
<xs:sequence>
<xs:element name="return" type="xs:double" />
</xs:sequence>
</xs:complexType>
</xs:schema>