Herramienta/xml-resources/web-service-references/A3_FContinuas/wsdl/192.168.0.107_8080/Servicios_Web/A3_FContinuas.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Continuas_FA3/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Continuas_FA3/">

<xs:element name="peticionContinuasFA3" type="tns:peticionContinuasFA3" />

<xs:element name="peticionContinuasFA3Response" type="tns:peticionContinuasFA3Response" />

<xs:complexType name="peticionContinuasFA3">
<xs:sequence>
<xs:element name="repeticiones" type="xs:int" />
<xs:element name="tipoAleatorios" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="peticionContinuasFA3Response">
<xs:sequence>
<xs:element name="return" type="xs:double" />
</xs:sequence>
</xs:complexType>
</xs:schema>