Herramienta/xml-resources/web-service-references/A3_Hipercubo/wsdl/192.168.0.107_8080/Servicios_Web/A3_Hipercubo.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Hipercubo_A3/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Hipercubo_A3/">

<xs:element name="peticionHipercuboA3" type="tns:peticionHipercuboA3" />

<xs:element name="peticionHipercuboA3Response" type="tns:peticionHipercuboA3Response" />

<xs:complexType name="peticionHipercuboA3">
<xs:sequence>
<xs:element name="dimension" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="peticionHipercuboA3Response">
<xs:sequence>
<xs:element name="return" type="xs:double" />
</xs:sequence>
</xs:complexType>
</xs:schema>