Herramienta/xml-resources/web-service-references/A1_TaylorBucket/wsdl/192.168.0.107_8080/Servicios_Web/A1_TaylorBucket.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://TaylorBucket_A1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://TaylorBucket_A1/">

<xs:element name="peticionTaylorBucketA1" type="tns:peticionTaylorBucketA1" />

<xs:element name="peticionTaylorBucketA1Response" type="tns:peticionTaylorBucketA1Response" />

<xs:complexType name="peticionTaylorBucketA1">
<xs:sequence>
<xs:element name="total" type="xs:int" />
<xs:element name="totalCasilleros" type="xs:int" />
<xs:element name="subAlgoritmo" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="peticionTaylorBucketA1Response">
<xs:sequence>
<xs:element name="return" type="xs:double" />
</xs:sequence>
</xs:complexType>
</xs:schema>