Herramienta/src/META-INF/wsdl/192.168.0.107_8080/Servicios_Web/A1_DDiscretas.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Discretas_DA1/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Discretas_DA1/">

<xs:element name="peticionDiscretasDA1" type="tns:peticionDiscretasDA1" />

<xs:element name="peticionDiscretasDA1Response" type="tns:peticionDiscretasDA1Response" />

<xs:complexType name="peticionDiscretasDA1">
<xs:sequence>
<xs:element name="repeticiones" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="peticionDiscretasDA1Response">
<xs:sequence>
<xs:element name="return" type="xs:double" />
</xs:sequence>
</xs:complexType>
</xs:schema>