Herramienta/src/META-INF/wsdl/192.168.0.107_8080/Servicios_Web/A3_Bernoulli.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Bernoulli_A3/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Bernoulli_A3/">

<xs:element name="peticionBernoulliA3" type="tns:peticionBernoulliA3" />

<xs:element name="peticionBernoulliA3Response" type="tns:peticionBernoulliA3Response" />

<xs:complexType name="peticionBernoulliA3">
<xs:sequence>
<xs:element name="n" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="peticionBernoulliA3Response">
<xs:sequence>
<xs:element name="return" type="xs:double" />
</xs:sequence>
</xs:complexType>
</xs:schema>