Herramienta/src/META-INF/wsdl/192.168.0.107_8080/Servicios_Web/A3_FDiscretas.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Discretas_FA3/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Discretas_FA3/">

<xs:element name="peticionDiscretasFA3" type="tns:peticionDiscretasFA3" />

<xs:element name="peticionDiscretasFA3Response" type="tns:peticionDiscretasFA3Response" />

<xs:complexType name="peticionDiscretasFA3">
<xs:sequence>
<xs:element name="repeticiones" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="peticionDiscretasFA3Response">
<xs:sequence>
<xs:element name="return" type="xs:double" />
</xs:sequence>
</xs:complexType>
</xs:schema>