Herramienta/xml-resources/web-service-references/A4_Bernoulli/wsdl/192.168.0.107_8080/Servicios_Web/A4_Bernoulli.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Bernoulli_A4/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Bernoulli_A4/">

<xs:element name="peticionBernoulliA1" type="tns:peticionBernoulliA1" />

<xs:element name="peticionBernoulliA1Response" type="tns:peticionBernoulliA1Response" />

<xs:complexType name="peticionBernoulliA1">
<xs:sequence>
<xs:element name="n" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="peticionBernoulliA1Response">
<xs:sequence>
<xs:element name="return" type="xs:double" />
</xs:sequence>
</xs:complexType>
</xs:schema>