Herramienta/xml-resources/web-service-references/A2_Hipercubo/wsdl/192.168.0.107_8080/Servicios_Web/A2_Hipercubo.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://Hipercubo_A2/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Hipercubo_A2/">

<xs:element name="peticionHipercuboA2" type="tns:peticionHipercuboA2" />

<xs:element name="peticionHipercuboA2Response" type="tns:peticionHipercuboA2Response" />

<xs:complexType name="peticionHipercuboA2">
<xs:sequence>
<xs:element name="dim" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="peticionHipercuboA2Response">
<xs:sequence>
<xs:element name="return" type="xs:double" />
</xs:sequence>
</xs:complexType>
</xs:schema>